body {
    background-image: url(./pic.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.clockContainer {
    backdrop-filter: blur(2px);
    padding: 20px;
}
.clock{
    color: white;
    font-size: 6rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 3px 3px black;
    text-align: center;

}

